In [20]:
# 小技巧1：如何使用map对某些列做特征工程？
import pandas as pd
from pandas import DataFrame
import numpy as np

d = {
"gender":["male", "female", "male","female"],
"color":["red", "green", "blue","green"],
"age":[25, 30, 15, 32]
}

df = pd.DataFrame(d)
print(df)
d = {"male": 0, "female": 1}
df["gender2"] = df["gender"].map(d)
print(df)

   age  color  gender
0   25    red    male
1   30  green  female
2   15   blue    male
3   32  green  female
   age  color  gender  gender2
0   25    red    male        0
1   30  green  female        1
2   15   blue    male        0
3   32  green  female        1

In [7]:
# 小技巧2：使用 replace 和正则清洗数据
d = {"customer": ["A", "B", "C", "D"],
"sales":[1100, "950.5RMB", "$400", " $1250.75"]}

df = pd.DataFrame(d)
print(df)
df["sales"] = df["sales"].replace("[$,RMB]","",regex = True).astype("float")
print(df)

  customer      sales
0        A       1100
1        B   950.5RMB
2        C       $400
3        D   $1250.75
  customer    sales
0        A  1100.00
1        B   950.50
2        C   400.00
3        D  1250.75

In [10]:
#小技巧3：使用 melt 如何对数据透视分析？
d = {\
"district_code": [12345, 56789, 101112, 131415],
"apple": [5.2, 2.4, 4.2, 3.6],
"banana": [3.5, 1.9, 4.0, 2.3],
"orange": [8.0, 7.5, 6.4, 3.9]
}
  
df = pd.DataFrame(d)
print(df)
# 参数value_vars不赋值，默认剩余所有列都是value_vars
df=pd.melt(df,id_vars = "district_code",var_name = "fruit_name",value_name = "price")
print(df)

   apple  banana  district_code  orange
0    5.2     3.5          12345     8.0
1    2.4     1.9          56789     7.5
2    4.2     4.0         101112     6.4
3    3.6     2.3         131415     3.9
    district_code fruit_name  price
0           12345      apple    5.2
1           56789      apple    2.4
2          101112      apple    4.2
3          131415      apple    3.6
4           12345     banana    3.5
5           56789     banana    1.9
6          101112     banana    4.0
7          131415     banana    2.3
8           12345     orange    8.0
9           56789     orange    7.5
10         101112     orange    6.4
11         131415     orange    3.9

In [12]:
# 小技巧4：已知 year 和 dayofyear，怎么转 datetime?
d = {\
"year": [2019, 2019, 2020],
"day_of_year": [350, 365, 1]
}
df = pd.DataFrame(d)
df["int_number"] = df["year"]*1000 + df["day_of_year"]
df["date"]=pd.to_datetime(df["int_number"],format = "%Y%j")
print(df)

   day_of_year  year  int_number       date
0          350  2019     2019350 2019-12-16
1          365  2019     2019365 2019-12-31
2            1  2020     2020001 2020-01-01

In [19]:
# 小技巧5：如何将分类中出现次数较少的值归为 others？
d = {"name":['Jone','Alica','Emily','Robert','Tomas',
             'Zhang','Liu','Wang','Jack','Wsx','Guo'],
     "categories": ["A", "C", "A", "D", "A", 
                    "B", "B", "C", "A", "E", "F"]}
df = pd.DataFrame(d)
# 统计频次并归一
frequencies = df["categories"].value_counts(normalize = True)
print(frequencies)
threshold = 0.1
small_categories = frequencies[frequencies < threshold].index
df["categories"] = df["categories"].replace(small_categories, "Others")
print(df)

A    0.363636
B    0.181818
C    0.181818
F    0.090909
D    0.090909
E    0.090909
Name: categories, dtype: float64
   categories    name
0           A    Jone
1           C   Alica
2           A   Emily
3      Others  Robert
4           A   Tomas
5           B   Zhang
6           B     Liu
7           C    Wang
8           A    Jack
9      Others     Wsx
10     Others     Guo

In [ ]:
# 小技巧6：如何快速找出 DataFrame 所有列 null 值个数？  每一列的null值都能求出来
data.isnull().sum()

In [25]:
# 小技巧7：如何用 Pandas 快速生成时间序列数据？   可以配置频率
df = pd.DataFrame(np.random.randint(1,1000,size=(10,3)),
                  columns = ['商品编码','商品销量','商品库存'])
df.index = pd.util.testing.makeDateIndex(10,freq='h')
print(df)

                     商品编码  商品销量  商品库存
2000-01-01 00:00:00   788    29   987
2000-01-01 01:00:00   416   659   514
2000-01-01 02:00:00   699   635   861
2000-01-01 03:00:00   224   807   241
2000-01-01 04:00:00   143   312   433
2000-01-01 05:00:00   753   667   188
2000-01-01 06:00:00   970   425   287
2000-01-01 07:00:00   446   693   119
2000-01-01 08:00:00   941   138   685
2000-01-01 09:00:00   332   804   398

In [28]:
# 小技巧8：如何重新排序 DataFrame 的列？
df = pd.DataFrame(np.random.randint(0,20,size=(5,7)),columns=list('ABCDEFG'))
# 方法一
df2 = df[["A", "C", "D", "F", "E", "G", "B"]]
print(df2)
# 方法二
cols = df.columns[[0, 2 , 3, 5, 4, 6, 1]]
df3 = df[cols]
print(df3)

    A   C   D   F   E   G   B
0  13  13  10  15  19   3   0
1  14   2  12  15  10  14  14
2  10  19   9  10   2  16  17
3   1   6  15   0   6   8  17
4   4  17   5  18   4  12  19
    A   C   D   F   E   G   B
0  13  13  10  15  19   3   0
1  14   2  12  15  10  14  14
2  10  19   9  10   2  16  17
3   1   6  15   0   6   8  17
4   4  17   5  18   4  12  19

In [29]:
# 小技巧9：如何完成数据下采样，调整步长由小时为天？
df = pd.DataFrame(np.random.randint(1,10,size=(240,3)), columns = ['商品编码','商品销量','商品库存'])
df.index = pd.util.testing.makeDateIndex(240,freq='H')
day_df = df.resample("D")["商品销量"].sum().to_frame()
print(day_df)

            商品销量
2000-01-01   125
2000-01-02   121
2000-01-03   127
2000-01-04   114
2000-01-05   124
2000-01-06   105
2000-01-07   113
2000-01-08   116
2000-01-09   121
2000-01-10   118

In [ ]:
# 小技巧 10：如何快速拿到数据最多的 3 个分类？
# 筛选出 top3 的 index:
vc = df["genre"].value_counts()
top_genre = vc[0:3].index
# 使用得到的 top3 的 index ，结合 isin,选择出相应的 df
df_top = df[df["genre"].isin(top_genre)]

In [ ]:
# 小技巧11：如何使用 count 统计一个字段中词条出现次数？
df["words_count"] = df["Title"].str.count(" ") + 1
df[["Title","words_count"]]

In [ ]:
# 小技巧 12 dt 访问器求时分(HH:mm)的分钟差
df['a'] = df['a'].astype(str)
df['b'] = df['b'].astype(str)
df['atime'] = pd.to_datetime(df['a'])
df['btime'] = pd.to_datetime(df['b'])
df['amins'] = df['atime'].dt.hour * 60 + df['atime'].dt.minute 
df['bmins'] = df['btime'].dt.hour * 60 + df['btime'].dt.minute 
df['mins'] = df['amins'] - df['bmins']

In [ ]:
# 小技巧15 100G 数据如何先随机读取1%？
# 使用 skiprows 参数，
# x > 0 确保首行读入，
# np.random.rand() > 0.01 表示 99% 的数据都会被随机过滤掉

df = pd.read_csv("big_data.csv",
skiprows = lambda x: x>0and np.random.rand() > 0.01)
  
print("The shape of the df is {}.
It has been reduced 100 times!".format(df.shape))

In [38]:
# 17 pivot 透视小技巧  melt 是融化数据，而 pivot 结冰数据，它们是一对互逆操作
d = {\
"district_code": [12345, 56789, 101112, 131415],
"apple": [5.2, 2.4, 4.2, 3.6],
"banana": [3.5, 1.9, 4.0, 2.3],
"orange": [8.0, 7.5, 6.4, 3.9]
}
  
df = pd.DataFrame(d)
df = pd.melt(df,id_vars = "district_code")
print(df)
print(df.pivot(index='district_code',columns='variable'))

# pivot 方法没有聚合功能，它的升级版为 pivot_table 方法，能对数据聚合
dfa = df.append(df) 
# index 设定第一个维度：zip_code，columns 设定第二个维度为 variable，使用 aggfunc 参数做聚合，也就是存在 zip_code + variable 重复项时，两项 np.sum 累加
dfa.pivot_table(index='district_code',columns='variable',aggfunc=np.sum)

    district_code variable  value
0           12345    apple    5.2
1           56789    apple    2.4
2          101112    apple    4.2
3          131415    apple    3.6
4           12345   banana    3.5
5           56789   banana    1.9
6          101112   banana    4.0
7          131415   banana    2.3
8           12345   orange    8.0
9           56789   orange    7.5
10         101112   orange    6.4
11         131415   orange    3.9
              value
variable      apple banana orange
district_code
12345           5.2    3.5    8.0
56789           2.4    1.9    7.5
101112          4.2    4.0    6.4
131415          3.6    2.3    3.9

              value
variable      apple banana orange
district_code
12345          10.4    7.0   16.0
56789           4.8    3.8   15.0
101112          8.4    8.0   12.8
131415          7.2    4.6    7.8

In [ ]:
# pandas数据处理技巧
https://mp.weixin.qq.com/s?__biz=MzI3NTkyMjA4NA==&mid=2247499054&idx=1&sn=5fb681896b1f1b1365c09e8c31f0faf7&chksm=eb7fd0e5dc0859f3bf78541313b645cfec52e1e626b617e003ca50a40e33055c9c8ddaf08214&cur_album_id=1584542389774401538&scene=190#rd

In [ ]:
# 常用命令

# 读取excel数据
import pandas as pd
# 不限制最大显示列数
pd.set_option('display.max_columns', None)
# 不限制最大显示行数
pd.set_option('display.max_rows', None)
# 读取第2个表格  从0开始的
data = pd.read_excel(io, sheet_name = 1)
#查看前三条
data.head(3)
# 按某个字段聚合后，统计某个的值
data.groupby('race')['signs_of_mental_illness'].value_counts()
# 某个字段按照_分隔，并且拓展成列，计算个数
data['hotel_seq'].str.split('_',expand = True)[0].value_counts(ascending=False)
# 筛选不包含0的行
data = data[~ data['col'].isin([0.0])] 
# 同时也可以作为筛选包含0的行
data = data[data['col'].isin([0.0])]
# 如果需要匹配的话
data = data[data['col'].str.contains(str)]
# 某一列出现频次最多的前10个，转为list
prop['city'].value_counts(ascending=False).index[0:9].tolist()